version: '3'
services:
  postgres_first:
    image: postgres:latest
    container_name: postgres_${DATABASE_DATABASE}
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DATABASE_DATABASE}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      TZ: 'America/Sao_Paulo'
    ports:
      - '${DATABASE_PORT}:5432'
    expose:
      - '${DATABASE_PORT}'

  redis:
    image: redis:6
    container_name: redis_${REDIS_DATABASE}
    restart: always
    ports:
      - '${REDIS_PORT}:6379'
    expose:
      - '${REDIS_PORT}'
